.container{
  text-align: center;
  align-content: center;
}

.box{
  width: 100px;
  height: 80px;
  border: 1px solid black;
  display:  inline-block;
  line-height: 80px;
  position: realtive ;
}

.board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
}

.btn{
  background-color: orange;
  position: absolute;
  right:49%;
  bottom:190px;
  font-size: large;
}

.start{
  background-color:lawngreen;
  font-size: larger;
  position:relative;
  bottom:5px;
  padding-right: 30px;
  text-align: center;
}
.text{
  text-align: center;
  
}

.x{
  font-size: large;
  border: 1px solid green;
  background-color:lightgrey;
  position:relative;
  bottom: 5px;
  left:-2%;
  
}
.o{
  font-size: large;
  text-align: center;
  border: 1px solid green;
  background-color:lightgoldenrodyellow;
  position: relative;
  left:-1.1%;
  bottom: 5px;
}
.back{
  /* background-color: magenta; */
  background-image: url("tictactoe.jpg");
}

.head{
  font-style:bold;
  color:royalblue;
}